.center {
    width: 1200px;
    height: 943px; 
    padding: 10px; 
    margin: auto; 
    background: #ffffff; 
}

.background {
    background-image: url(Images/2.jpg);
}

.outer {
    text-align: center;
}

#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:80px;
    width:100%;
    
   }